@charset "utf-8";
/* CSS Document */

.studyplay_starBg{
	 background:url(http://rs.sfacg.com/web/novel/images/images/star2.gif) 0 -16px;position:absolute; top:0; left:0; height:15px; padding:0px; cursor:pointer;
	}
.studyplay_starovering{
	background:url(http://rs.sfacg.com/web/novel/images/images/star2.gif); height:15px; position:absolute; top:0; left:0;
}
.studyplay_starON{
	 position:absolute; top:0; left:0; height:15px;
}


