{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %}  
{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class='center-block'><h3 class>添加图书</h3></div>
            <div class='center-block'><h3 class>222 </h3></div>
            {% for b in book %}
            <div class='center-block'><h3 class>{{ b.bname }} </h3></div>
			<div class='center-block'><h3 class>{{ b.blike }} </h3></div>
            {% endfor %}
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
{% endblock content%}
